<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
    <%- include("partials/navbar") %>
    <div class="container m-4">
        <h1>Page Not Found</h1>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>



