<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div class="container m-4">
      <% if(messages.error) {%>
        <p style="color:red"><%= messages.error %></p>
        <% } %>
        <br>
      <h1>Input your Credential</h1>
      <br>
      <form method="POST" action="/api/v1/auth/login">
        <label for="username">Username</label>
        <br />
        <input type="text" name="username" placeholder="Insert your username" />
        <br />
  
        <label for="password">Password</label>
        <br />
        <input type="password" name="password" placeholder="Insert password" />
        <br />
  
        <button type="submit">Login</button>
        <p>Please <a href="/register">register</a> first for new user!</p>
      </form>
    </div>
  </body>
</html>
