<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/navbar") %>
    <div class="container m-4">
      <h1>CREATE ROOM</h1>
      <form method="POST" action="/api/v1/auth/createRoom">
        <label for="roomname">Input Room Name: </label>

        <input type="text" name="roomname" placeholder="Insert a room name" />
        <br><br>
        <button type="submit">PLAY NOW</button>
        
      </form>
</body>
</html>



